<% I18n.with_locale(:en) do %>
  <div class="submit-foreign-form-container help-buttons">
    <%- if controller_name != "sessions" && resource_class != Decidim::UserGroup %>
      <%= link_to t(".sign_in"), new_session_path(resource_name), class:"br-button secondary block" %>
    <% end -%>
    <%- if current_organization.sign_up_enabled? && devise_mapping.registerable? && controller_name != "registrations" %>
      <%= link_to t("devise.shared.links.sign_up"), new_registration_path(resource_name), class:"br-button block" %>
    <% end -%>
    <%- if devise_mapping.recoverable? && controller_name != "passwords" %>
      <%= link_to t("devise.shared.links.forgot_your_password"), new_password_path(resource_name), class:"br-button block" %>
    <% end -%>
    <div class="receive-informs">
      <%- if current_organization.sign_up_enabled? && devise_mapping.confirmable? && controller_name != "confirmations" %>
        <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name) %>
      <% end -%>
      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
        <%= link_to t("devise.shared.links.didn_t_receive_unlock_instructions"), new_unlock_path(resource_name) %>
      <% end -%>
    </div>
  </div>
<% end %>
